html, body {
	background-color: #101010;
	margin: 0px;
	padding: 0px;
}
iframe {
	frameborder: 0;
}

#appmount {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#navbar {
	background-color: #000000;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
}
#navbar #pagetitle {
	display: flex;
	flex-direction: row;
	width: 15%;
	color: white;
	user-select: none;
}
#navbar #pagetitle h2 {
	text-align: center;
	width: 100%;
}
#reversenavflex {
	display: flex;
	flex-direction: row-reverse;
	flex: 1;
	margin-right: 2%;
}
#reversenavflex p {
	padding: 0px 10px;
}

#page {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	height: 100%;
}

#sidebar {
	width: 15%;
	height: flex;
}
#sidebar iframe {
	height: flex;
	width: 100%;
}

#content {
	background-color: #202020;
	display: flex;
	flex-direction: column;	
	flex: 1;
}

#footer {
	background-color: #101010;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.text {
	color: white;
}
